@model Cine_Lumia.Models.ProfileViewModel

@{
    ViewData["Title"] = "Mi Perfil";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card mt-5 text-center">
            <div class="card-header">
                <h3 class="card-title">Bienvenido a tu Perfil</h3>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center mb-3 profile-info-container">
                    <img src="~/img/avatar/@Model.Avatars[Model.IdAvatar - 1]" alt="Avatar" class="profile-avatar-small me-3" style="width: 40px; height: 40px; border-radius: 50%;">
                    <div>
                        <p class="mb-0"><strong>Correo Electrónico:</strong> @Model.Email</p>
                        <p class="mb-0"><strong>Alias:</strong> @(string.IsNullOrEmpty(Model.Alias) ? "No asignado" : Model.Alias)</p>
                    </div>
                </div>
                <p class="mt-4">Desde aquí puedes administrar los detalles de tu cuenta.</p>
                <a asp-action="Manage" class="btn btn-primary">Gestionar Cuenta</a>
                <a asp-action="Logout" class="btn btn-danger mt-3">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>
