@model Cine_Lumia.Models.RegisterViewModel

@{    ViewData["Title"] = "Registrarse";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <section>
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <label asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
